* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
text {
    font-family: 'Figtree', sans-serif;
    font-family: 'Zilla Slab', serif;
}
body{
    background-image: url(../multim/texturafondo.png);
}








.home img {
    margin: 13px 50px;
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 50%;
}

.home {
    grid-area: home;
    position: fixed;
    overflow: visible;    
    left: 5px;
    z-index: 1;
}








.header {
    grid-area: header;
    background: linear-gradient(#485563,#29323c,#485563);
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.btnHeader{
    display: flex;
    margin: 7px;
    border-radius: 5%;
    border: solid 1px rgb(255, 216, 216);
    color: rgb(226, 226, 236);
    font-size: 1.3rem;
    font-family: 'Figtree', sans-serif;
    text-decoration: none;
}
.btnHeader:hover{
    transform: scale(1.1);
}
.linkMenu{
    text-decoration: none;
}

ul.menuHeader{
    margin: 0 ;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
}

.imgLogoHeader{
    margin: 5px;
    border-radius: 40%;
    border: solid 0.5px grey;
}







.fontTitulo{
    font-family: 'Figtree', sans-serif;
}
.fontTexto{
    font-family: 'Zilla Slab', serif;
}







.sectionMarcas {
    grid-area: sectionMarcas;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.imgMarcas{
    border-radius: 5%;
    width: 100%;
    height: 80% ;
}

.sectionDestacados {
    grid-area: sectionDestacados;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img.imgDestacados{
    border-radius: 5%;
    width: 100% ;
    height: 80% ;
}

.sectionMarcasTex {
    grid-area: sectionMarcasTex;
    border-radius: 1%;
    padding: 5px;
    color: white;
}

.sectionDestacadosTex {
    grid-area: sectionDestacadosTex;
    border-radius: 1%;
    padding: 5px;
    color: white;
}












.footer {
    grid-area: footer;
    background: linear-gradient(#29323c,#485563,#29323c);
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.imgLogoFooter{
    margin: 5px;
    border-radius: 40%;
    border: solid 0.5px grey;
}
.footerMenu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.imgInsta {
    margin: 5px;
    width: 40px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255);
}

.imgInsta:hover {
    opacity: 50%;
    transform: scale(1.1);
}

.imgFacebook {
    margin: 5px;
    width: 40px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255);
}

.imgFacebook:hover {
    opacity: 50%;
    transform: scale(1.1);
}

ul.ulFooter {
    list-style: none;
    text-align: center;
    padding: 1rem;
    color: aliceblue;
}





















.fotoLocal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgLocal{
    width: 75%;
    height: 75%;
    border-radius: 15%;
    margin: 15px;
}
.textoNosotros{
    display: flex;
    align-items: center;
}
.parrafoNosotros{
    display: flex;
    padding: 15px;
    margin: 15px;
    height: 450px;
    overflow: auto;
    border: solid 1px whitesmoke;
    border-radius: 4%;
    
    
}










.contenedorIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 1fr 0.4fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "sectionMarcas sectionDestacados"
        "sectionMarcasTex sectionDestacadosTex"
        "footer footer";
}
.contenedorNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    grid-auto-columns: 1fr;
    gap:5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "fotoLocal textoNosotros"
        "footer footer";
}















@media screen and (max-width:768px){
    .contenedorIndex {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1fr 2.2fr 1fr 0.4fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "sectionMarcas"
            "sectionMarcasTex"
            "sectionDestacados" 
            "sectionDestacadosTex"
            "footer";
        .header{
            flex-direction: column;
        }
    }
}
@media screen and (max-width:480px){
    .contenedorIndex {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "home"
            "sectionMarcas"
            "sectionMarcasTex"
            "sectionDestacados" 
            "sectionDestacadosTex"
            "footer";
            .home{
                position: relative;
            display: flex;
            justify-content: center;
        }    
        .header{
            flex-direction: column;
        }
        .footer{
            flex-direction: column;
        }
        .menuHeader{
            flex-direction: column;
            align-items: center;
        }
    }
}













@media screen and (max-width:768px){
    .contenedorNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 0.4fr;
        grid-auto-columns: 1fr;
        gap:5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "fotoLocal"
            "textoNosotros"
            "footer";
        .header{
            flex-direction: column;
        }
    }
}
@media screen and (max-width:480px){
    .contenedorNosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "header"
        "home"
        "fotoLocal"
        "textoNosotros"
        "footer";
        .home{
            position: relative;
            display: flex;
            justify-content: center;
        }
        .header{
            flex-direction: column;
        }
        .footer{
            flex-direction: column;
        }
        .menuHeader{
            flex-direction: column;
            align-items: center;
        }  
    }
}