* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background-image: url(../multim/texturafondo.png);
}

.header {
  grid-area: header;
  background: linear-gradient(#485563, #29323c, #485563);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .imgLogoHeader {
  margin: 5px;
  border-radius: 40%;
  border: solid 0.5px grey;
}
.header nav div .btnHeader {
  display: flex;
  margin: 1rem;
  border-radius: 5%;
  border: solid 1px rgb(255, 216, 216);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  justify-content: center;
}
.header nav div .btnHeader:hover {
  transform: scale(1.1);
  border-radius: 10%;
}

.footer {
  grid-area: footer;
  background: linear-gradient(#29323c, #485563, #29323c);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.footer .imgLogoFooter {
  margin: 5px;
  border-radius: 40%;
  border: solid 0.5px grey;
}
.footer .footerMenu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer .footerMenu .imgInsta {
  margin: 5px;
  width: 40px;
  border-radius: 50%;
  border: solid rgb(255, 255, 255);
}
.footer .footerMenu .imgInsta:hover {
  opacity: 50%;
  transform: scale(1.1);
}
.footer .footerMenu .imgFacebook {
  margin: 5px;
  width: 40px;
  border-radius: 50%;
  border: solid rgb(255, 255, 255);
}
.footer .footerMenu .imgFacebook:hover {
  opacity: 50%;
  transform: scale(1.1);
}
.footer .ulFooter {
  list-style: none;
  text-align: center;
  padding: 1rem;
  color: aliceblue;
}

.contenedorIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.3fr 1fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "titMarcas titDestacados" "sectionMarcas sectionDestacados" "sectionMarcasTex sectionDestacadosTex" "footer footer";
}
.contenedorIndex .titMarcas {
  grid-area: titMarcas;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorIndex .titMarcas .fontTitulo {
  font-family: "Figtree", sans-serif;
}
.contenedorIndex .sectionMarcas {
  grid-area: sectionMarcas;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contenedorIndex .sectionMarcasTex {
  grid-area: sectionMarcasTex;
  border-radius: 1%;
  padding: 5px;
  color: rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorIndex .sectionMarcasTex:hover {
  color: rgb(255, 255, 255);
}
.contenedorIndex .sectionMarcasTex .fontTexto {
  font-family: "Quicksand", sans-serif;
}
.contenedorIndex .titDestacados {
  grid-area: titDestacados;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorIndex .titDestacados .fontTitulo {
  font-family: "Figtree", sans-serif;
}
.contenedorIndex .sectionDestacados {
  grid-area: sectionDestacados;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contenedorIndex .sectionDestacadosTex {
  grid-area: sectionDestacadosTex;
  border-radius: 1%;
  padding: 5px;
  color: rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorIndex .sectionDestacadosTex:hover {
  color: rgb(255, 255, 255);
}
.contenedorIndex .sectionDestacadosTex .fontTexto {
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 768px) {
  .contenedorIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.2fr 1fr 0.6fr 0.2fr 1fr 0.6fr 0.4fr;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas: "header" "titMarcas" "sectionMarcas" "sectionMarcasTex" "titDestacados" "sectionDestacados" "sectionDestacadosTex" "footer";
  }
  .contenedorIndex .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .contenedorIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "header" "titMarcas" "sectionMarcas" "sectionMarcasTex" "titDestacados" "sectionDestacados" "sectionDestacadosTex" "footer";
  }
  .contenedorIndex .footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
