.contenedorIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.6fr 0.2fr 0.6fr 0.2fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "titMarcas titMarcas"
        "sectionMarcas sectionMarcasTex"
        "titDestacados titDestacados"
        "sectionDestacados sectionDestacadosTex"
        "obrasSocyPrep obrasSocyPrep"
        "imgOyP imgOyP"
        "footer footer";        
    .titMarcas {
        grid-area: titMarcas;
        display: flex;
        align-items: center;
        justify-content: center;
        .fontTitulo {
            font-family: $fontTitulo
        }
    }
    .sectionMarcas {
        grid-area: sectionMarcas;
        margin: 50px;
        display: flex;
        flex-direction: row;
        .section1{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imgMarcas{
                margin: 1rem;
                width: 50%;
                border-radius: 70px;
                display: flex;
                flex-direction: column;
            }       
        }
        .section2{
            @extend .section1, .imgMarcas
        }
    }
    .sectionMarcasTex {
        grid-area: sectionMarcasTex;
        border-radius: 1%;
        padding: 5px;
        color: rgb(170, 170, 170);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            color: rgb(255, 255, 255);
        }
        .fontTexto {
            font-family: $fontTexto;
            font-size: 1.2rem;
        }
    }
    .titDestacados {
        grid-area: titDestacados;
        display: flex;
        align-items: center;
        justify-content: center;
        .fontTitulo {
            font-family: $fontTitulo
        }
    }
    .sectionDestacados {
        grid-area: sectionDestacados;
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .sectionDestacadosTex {
        grid-area: sectionDestacadosTex;
        border-radius: 1%;
        padding: 5px;
        color: rgb(170, 170, 170);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            color: rgb(255, 255, 255);
        }
        .fontTexto {
            font-family: $fontTexto;
            font-size: 1.1rem;
        }
    }
    .obrasSocyPrep{
        grid-area: obrasSocyPrep;
        display: flex;
        align-items: center;
        justify-content: center;
        .fontTitulo{
            font-family: $fontTitulo
        }
    }
    .imgOyP{
        grid-area: imgOyP;
        margin: 50px;
        display: flex;
        justify-content: space-around;
        .rowImg1{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imgLogoOyP{
                margin: 1rem;
                width: 70%;
                border-radius: 70px;
                display: flex;
                flex-direction: column;
            }
        }
        .rowImg2{
            @extend .rowImg1, .imgLogoOyP
        }
        .rowImg3{
            @extend .rowImg1, .imgLogoOyP
        }
    }        
}
@include tablet {
    .contenedorIndex {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.2fr 1fr 0.6fr 0.2fr 1fr 0.6fr 0.1fr;
        grid-auto-columns: 1fr 1fr;
        grid-template-areas:
            "header"
            "titMarcas"
            "sectionMarcas"
            "sectionMarcasTex"
            "titDestacados"
            "sectionDestacados"
            "sectionDestacadosTex"
            "obrasSocyPrep"
            "imgOyP"
            "footer";
            .header {
                flex-direction: column;
            }               
    }    
}
@include mobile {
    .contenedorIndex {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-template-areas:
            "header"
            "titMarcas"
            "sectionMarcas"
            "sectionMarcasTex"
            "titDestacados"
            "sectionDestacados"
            "sectionDestacadosTex"
            "obrasSocyPrep"
            "imgOyP"
            "footer";
        .footer {
            flex-direction: column;
        }
        .imgOyP{
            flex-direction: column;
            justify-content: center;
        }
    }
}

