* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













.img2{
    @extend .img1
}
    @extend .imgLentes
    @extend .imgLentes img     
.img3{
    @extend .img1
    @extend .imgLentes
    @extend .imgLentes img     
}
.img4{
    @extend .img1
    @extend .imgLentes
    @extend .imgLentes img     
}
.img5{
    @extend .img1
    @extend .imgLentes
    @extend .imgLentes img     
}





















.imgLentes {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.imgLentes img {
    width: 70%;
    height: 50;
    border-radius: 15%;
}

.imgLentes:hover {
    transform: scale(1.1, 1.1);
    z-index: 1;
}

.img1 {
    grid-area: img1;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img2 {
    grid-area: img2;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img3 {
    grid-area: img3;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img4 {
    grid-area: img4;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img5 {
    grid-area: img5;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img6 {
    grid-area: img6;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
}











.imgPyA {
    width: 50%;
    border-radius: 10%;
    border: solid 3px #202c31;
}

.gotas {
    grid-area: gotas;
}

.itemsProdyacc1 {
    grid-area: itemsProdyacc1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsProdyacc2 {
    grid-area: itemsProdyacc2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsProdyacc3 {
    grid-area: itemsProdyacc3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc {
    grid-area: acc;
}

.itemsProdyacc4 {
    grid-area: itemsProdyacc4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsProdyacc5 {
    grid-area: itemsProdyacc5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsProdyacc6 {
    grid-area: itemsProdyacc6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPyA:hover {
    transform: scale(1.3);
    border: solid 3px rgb(31, 166, 228);
}









.formSoltur {
    margin: 30px;
    grid-area: formSoltur;
    width: 80% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}









.formContacto {
    grid-area: formContacto;
    margin: 30px;
    width: 80% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubiMapa {
    grid-area: ubiMapa;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.imgUbi {
    width: 80%;
    border-radius: 15%;
    border: solid 2px rgb(167, 167, 167);
}

.imgUbi:hover {
    transform: scale(1.2);
    border: solid 3px rgb(31, 166, 228);
}

.ulContacto {
    grid-area: ulContacto;
    margin: 0 auto;
    padding: 1rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ulContacto:hover {
    transform: scale(1.1);
}

.ulCont {
    list-style: none;
    text-align: center;
}











.contenedorLentes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "footer footer";
}


.contenedorProdyacc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 0.2fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "gotas gotas gotas"
        "itemsProdyacc1 itemsProdyacc2 itemsProdyacc3"
        "acc acc acc"
        "itemsProdyacc4 itemsProdyacc5 itemsProdyacc6"
        "footer footer footer";
}

.contenedorSolicitarTurno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "formSoltur formSoltur"
        "footer footer";
}

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "formContacto formContacto"
        "ubiMapa ulContacto"
        "footer footer";
}











































@media screen and (max-width:768px) {
    .contenedorLentes {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 0.4fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "footer";

        .header {
            flex-direction: column;
        }

        .img1 {
            width: 80vw;
        }

        .img2 {
            width: 80vw;
        }

        .img3 {
            width: 80vw;
        }

        .img4 {
            width: 80vw;
        }

        .img5 {
            width: 80vw;
        }
    }
}

@media screen and (max-width:480px) {
    .contenedorLentes {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "footer";

        .header {
            flex-direction: column;
        }

        .footer {
            flex-direction: column;
        }

    }
}

















@media screen and (max-width:768px) {
    .contenedorProdyacc {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr 0.4fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        padding: 0;
        grid-auto-flow: row;
        grid-template-areas:
            "header header"
            "gotas gotas"
            "itemsProdyacc1 itemsProdyacc2"
            "itemsProdyacc3 itemsProdyacc3"
            "acc acc"
            "itemsProdyacc4 itemsProdyacc5"
            "itemsProdyacc6 itemsProdyacc6"
            "footer footer";

        .header {
            flex-direction: column;
        }
    }
}

@media screen and (max-width:480px) {
    .contenedorProdyacc {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "gotas"
            "itemsProdyacc1"
            "itemsProdyacc2"
            "itemsProdyacc3"
            "acc"
            "itemsProdyacc4"
            "itemsProdyacc5"
            "itemsProdyacc6"
            "footer";

        .header {
            flex-direction: column;
        }

        .footer {
            flex-direction: column;
        }
    }
}








@media screen and (max-width:768px) {
    .contenedorSolicitarTurno {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "formSoltur"
            "footer";

        .header {
            flex-direction: column;
        }
    }
}

@media screen and (max-width:480px) {
    .contenedorSolicitarTurno {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "formSoltur"
            "footer";

        .header {
            flex-direction: column;
        }

        .footer {
            flex-direction: column;
        }

    }
}








@media screen and (max-width:768px) {
    .contenedorContacto {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.1fr;
        grid-auto-columns: 1fr 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "formContacto"
            "ubiMapa"
            "ulContacto"
            "footer";

        .header {
            flex-direction: column;
        }
        .ulContacto{
            width: 0 auto;
            align-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width:480px) {
    .contenedorContacto {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
            "header"
            "formContacto"
            "ubiMapa"
            "ulContacto"
            "footer";

        .header {
            flex-direction: column;
        }

        .footer {
            flex-direction: column;
        }

        .ulContacto{
            width: 0 auto;
            align-content: center;
            align-items: center;
        }
    }
}